{{! The footer, with the copy right }}
<footer class="site-footer">

    <section class="footer-link">
        <strong><a href="{{@site.url}}/guan-yu-wo-men/">关于本站</a></strong>
        <strong><a href="{{@site.url}}/you-qing-lian-jie/">友情链接</a></strong>
        <strong><a href="{{@site.url}}/lian-xi-wo-men/">联系我们</a></strong>
        <strong><a href="https://tongji.baidu.com/web/10000231646/overview/index?siteId=15298067">百度统计</a></strong>
    </section>

    <section class="footer-link">
        <span id="busuanzi_container_site_pv">
                    本站总计被访问<span id="busuanzi_value_site_pv"></span>次
                </span>
        <span id="busuanzi_container_site_uv">
                  /总访客数&nbsp;<span id="busuanzi_value_site_uv"></span>
                </span>
    </section>

    <section class="copyright">
        Copyright &copy;{{date format="YYYY"}} <a href="{{@site.url}}/">{{@site.title}}</a> &bull;
        <a href="http://www.beian.miit.gov.cn">鄂ICP备20012462号</a>

    </section>
</footer>
