<nav class="pagination" aria-label="{{t "Pagination"}}">
	<div class="inner">
		<div class="box pagination-box">
			{{#if prev}}
			<a title="前一页" class="pagination-next" href="{{page_url prev}}"><i class="icon icon-arrow-left"></i> <span class="pagination-label">前一页</span></a>
			{{/if}}
			<span class="pagination-info">第 {{page}} 页，共 {{pages}} 页 </span>
			{{#if next}}
			<a title="后一页" class="pagination-prev" href="{{page_url next}}"><span class="pagination-label">后一页</span> <i class="icon icon-arrow-right"></i></a>
			{{/if}}
		</div>
	</div>
</nav>

